.Header {
  background: linear-gradient(
      90deg,
      rgba(204, 183, 247, 0) -4.79%,
      rgba(147, 112, 219, 0.28) 50.45%,
      rgba(204, 183, 246, 0) 105.46%
    ),
    linear-gradient(0deg, #e9e9ff, #e9e9ff);
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer {
  height: 30vh;
  border-radius: 40% 40% 0% 0%;
  
  background-color: linear-gradient(90deg, rgba(204, 183, 247, 0) -4.79%, rgba(147, 112, 219, 0.28) 50.45%, rgba(204, 183, 246, 0) 105.46%),
linear-gradient(0deg, #E9E9FF, #E9E9FF);

}
.top{
  display: flex;
  background: linear-gradient(90deg, rgba(204, 183, 247, 0) -4.79%, rgba(147, 112, 219, 0.28) 50.45%, rgba(204, 183, 246, 0) 105.46%),
linear-gradient(0deg, #E9E9FF, #E9E9FF);

  height: 50vh;
  border-radius: 0 0 40% 40%;
}
.left {
  flex: 1 1;
  position: relative;
  border-radius: 0 0 40% 40%;
  display: flex;
  flex-direction: column;
}
.right{
  flex: 1;
  position: relative;
  /* background: linear-gradient(
      90deg,
      rgba(204, 183, 247, 0) -4.79%,
      rgba(147, 112, 219, 0.28) 50.45%,
      rgba(204, 183, 246, 0) 105.46%
    ),
    linear-gradient(0deg, #e9e9ff, #e9e9ff); */
  overflow: hidden;
  border-radius: 0 0 40% 40%;
}
.card1-container {
  display: flex;
    justify-content: space-around;
}

.checked {
  color: orange;
}
